[submodule "DragToCast"]
	path = DragToCast
	url = https://github.com/dk-chrono-ark-plugins/ChronoArk.DragToCast
[submodule "TradableCelestial"]
	path = TradableCelestial
	url = https://github.com/dk-chrono-ark-plugins/ChronoArk.TradableCelestial
[submodule "Ultrawide"]
	path = Ultrawide
	url = https://github.com/dk-chrono-ark-plugins/ChronoArk.Ultrawide
[submodule "DragToEquip"]
	path = DragToEquip
	url = https://github.com/dk-chrono-ark-plugins/ChronoArk.DragToEquip
